* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  .link{
    color: #F57C00;
  }

  .link:hover{
    color: #ffa726;
  }

  h4{
    font-size: 20px;
    margin: 5px 0px;
  }



@media screen and (max-width: 400px) {
    .logo img{
        width: 130px;
    }
    h1{
        font-size: 20px;
    }
  }